<div class="container fixed-top " style="mask: linear-gradient(white,white,transparent); backdrop-filter: blur(5px);">
    <header class="d-flex flex-wrap justify-content-center  py-3 mb-4 border-bottom">
     
        <span class=" d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none fs-4" style="font-family:cursive;">My Blog</span>
    

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/articles/index.ejs" class="nav-link btn btn-outline-light"><span style="color: black; font-weight: 500;">Home</span></a></li>
      </ul>
    </header>
  </div>